      <!-- navbar header -->
      <div class="navbar-header {{app.settings.navbarHeaderColor}}">
        <!-- brand -->
        <a href="#/" class="navbar-brand text-lt">
          <i class="fa fa-trophy"></i>
          <img src="img/logo.png" alt="." class="hide">
          <span class="hidden-folded_ m-l-xs">Judo Lavis</span>
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
        <a href="#/" class="navbar-brand text-lt">
          <i class="fa fa-trophy"></i>
          <img src="img/logo.png" alt="." class="hide">
          <span class="hidden-folded_ m-l-xs">Judo Lavis</span>
        </a>
        

      </div>
      <!-- / navbar collapse -->