<div class="wrapper-lg row" ng-controller="TrofeoController">


    <div class="col-md-12 text-center"><h3 style="font-size:60px;">Trofeo Internazione di Judo - Lavis</h3></div>
        <div class="col-md-12 text-center"><h1 style="font-size:40px;">{{trofeo.titolo}} - {{trofeo.dataEventoStr}}</h1></div>
        <div class="col-md-12 text-center">
            <h1 style="font-size:20px;">
                <b>{{trofeo.numeroAtletiPartecipanti}} Atleti</b> iscritti di <b>{{trofeo.numeroSocietaPartecipanti}} Società</b> partecipanti - <b>{{trofeo.numeroCategoriePartecipanti}} Categorie</b> di peso rappresentate
            </h1>
            <br />
        </div>
        <div class="col-md-1">
        </div>

        <div class="col-md-4">
            <div class="text-center m-t wrapper-lg panel">
                <div class="inline ">
                    <div class="text-center">
                        <div class="thumb-xl">
                            <a ui-sref="judo.judoka" class="text-info"><i class="icon-people"  style="font-size: 50pt;"></i></a>
                        </div>
                    </div>
                    <div class="h3 m-t m-b-xs"><a ui-sref="judo.judoka" class="text-info">Gli Atleti</a></div>
                    <small class="text-muted m-b"></small>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="text-center m-t panel dker wrapper-lg">
                <div class="inline">
                    <div class="text-center">
                        <div class="thumb-xl">
                            <a ui-sref="judo.team" class="text-info"><i class="icon-badge" style="font-size: 50pt;"></i></a>
                        </div>
                    </div>
                    <div class="h3 m-t m-b-xs"><a ui-sref="judo.team" class="text-info">Le Società</a></div>
                    <small class="text-muted m-b"></small>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="wrapper-lg row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="text-center m-t panel dker wrapper-lg">
                <div class="inline">
                    <div class="text-center">
                        <div class="thumb-xl">
                            <a ui-sref="judo.tatami" class="text-info"><i class="icon-layers" style="font-size: 50pt;"></i></a>
                        </div>
                    </div>
                    <div class="h3 m-t m-b-xs"><a ui-sref="judo.tatami" class="text-info">I Tatami</a></div>
                    <small class="text-muted m-b"></small>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="wrapper-lg row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="text-center m-t panel dker wrapper-lg">
                <div class="inline">
                    <div class="text-center">
                        <div class="thumb-xl">
                            <a ui-sref="judo.bracket" class="text-info"><i class="fa fa-table fa-5x"></i></a>
                        </div>
                    </div>
                    <div class="h3 m-t m-b-xs"><a ui-sref="judo.judoka" class="text-info">I Tabelloni</a></div>
                    <small class="text-muted m-b"></small>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="text-center m-t panel dker wrapper-lg">
                <div class="inline">
                    <div class="text-center">
                        <div class="thumb-xl">
                            <a ui-sref="judo.ranking" class="text-info"><i class="icon-trophy" style="font-size: 50pt;"></i></a>
                        </div>
                    </div>
                    <div class="h3 m-t m-b-xs"><a ui-sref="judo.judoka" class="text-info">Le Classifiche</a></div>
                    <small class="text-muted m-b"></small>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
