﻿<!-- hbox layout -->
<div class="hbox hbox-auto-xs hbox-auto-sm bg-light h-full" ng-controller="JudokaCtrl">

  <!-- column -->
  <div class="col w-lg lter b-r">
      <div class="wrapper-xs b-b">
        <div class="input-group m-b-xxs">
          <span class="input-group-addon input-sm no-border no-bg"><i class="icon-magnifier text-md m-t-xxs"></i></span>
          <input type="text" class="form-control input-sm no-border no-bg text-md" placeholder="Cerca atleta" ng-model="query">
        </div>
      </div>
      <div class="row-row">
        <div class="cell scrollable hover" style="max-height: 250px;">
          <div class="cell-inner">
            <div class="m-t-n-xxs">
              <div class="list-group list-group-lg no-radius no-border no-bg m-b-none">
                <a ng-repeat="item in items | filter:{group:filter} | filter:query | orderBy:'cognome'" class="list-group-item m-l" ng-class="{'select m-l-none': item.selected }" ng-click="selectItem(item)">
                  <span class="block text-ellipsis m-l-n text-md" ng-class="{'m-l-none': item.selected }">
                    <strong>{{ item.cognome }}</strong> {{ item.nome }} 
                    <span ng-hide="item.nome || item.cognome">- - - - -</span>
                  </span>
                </a>
              </div>
            </div>
            <div class="text-center pos-abt w-full" style="top:45%;font-size:large" ng-hide="(items | filter:{group:filter} | filter:query).length"><b>Caricamento atleti..</b></div>
          </div>
        </div>
      </div>
  </div>
  <!-- /column -->

  <!-- column -->
  <div class="col bg-white-only">
      <div class="row-row">
        <div class="cell">
          <div class="cell-inner">
            <div class="wrapper-sm">
              <div class="hbox h-auto m-b-lg">

                <div class="col v-middle h1 font-thin">
                  <div>{{item.nome}} <b>{{item.cognome}}</b></div>
                </div>
                  <div class="col text-center w-sm">
                      <div class="thumb-lg avatar inline">
                          <img ng-src="{{item.avatar}}" ng-show="item.avatar">
                      </div>
                  </div>
              </div>
              <!-- fields -->
              <div class="form-horizontal">
                <div class="form-group m-b-sm">
                  <label class="col-sm-2 control-label">Anno</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{item.anno || '?'}}</p>
                  </div>
                </div>
                <div class="form-group m-b-sm">
                  <label class="col-sm-2 control-label">Sesso</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{item.sesso == '1'? 'M' : 'F' }}</p>
                  </div>
                </div>
                  <div class="form-group m-b-sm">
                      <label class="col-sm-2 control-label">Categoria</label>
                      <div class="col-sm-10">
                          <p class="form-control-static"><a ng-click="gotoBracketByCatID(item.idCategoria);"><b>{{item.descrizioneCategoria}}</b></a></p>
                      </div>
                  </div>
                <div class="form-group m-b-sm">
                  <label class="col-sm-2 control-label">Società</label>
                  <div class="col-sm-10">
                    <p class="form-control-static"><a ng-click="viewSocietaAtletiByID(item.idSocieta);"><b>{{item.nomeSocieta}}</b></a></p>
                  </div>
                </div>
                <div class="form-group m-b-sm">
                  <label class="col-sm-2 control-label">Ranking</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{item.ranking}}</p>
                  </div>
                </div>
              </div>
              <!-- / fields -->
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- /column -->
</div>
<!-- /hbox layout -->
