<style>
        .blue {
        color:dodgerblue;
    }
    .pink {
        color:hotpink;
    }

</style>


<div class="hbox hbox-auto-xs hbox-auto-sm bg-light " ng-controller="RankingController">
        <div class="row wrapper-md">
            <h4>Per una migliore visualizzazione orienta il tuo dispositivo in orizzontale</h4>
        </div>
        <div class="bg-light lter b-b wrapper-md row">
            <div class="col-md-2">
                <h6>1. Seleziona il sesso</h6>
                <a ng-click="rankSelectSex(1);" class="m-r-lg"><i class="fa fa-male fa-3x" ng-class="rankSelectedSex == 1 ? 'blue' : ''"></i></a>
                <a ng-click="rankSelectSex(2);"><i class="fa fa-female fa-3x" ng-class="rankSelectedSex == 2 ? 'pink' : ''"></i></a>
            </div>
            <div class="col-md-4">
                <h6>2. Seleziona l'età</h6>
                <div class="m-r-lg">
                    <select class="form-control m-b"
                            ng-model="rankSelectedYear"
                            ng-options="year for year in rankYearCategories track by year"
                            ng-change="rankSelectYear(rankSelectedYear);"></select>
                </div>
            </div>
            <div class="col-md-4">
                <h6>3. Seleziona il peso</h6>
                <div class="m-r-lg">
                    <select class="form-control m-b"
                            ng-model="rankSelectedWeight"
                            ng-options="weight for weight in rankWeightCategories track by weight"
                            ng-change="rankSelectWeight(rankSelectedWeight);"></select>
                </div>
            </div>

            <div class="col-md-2">
                <h6><br /></h6>
                <a class="btn btn-info btn-sm" ng-if="rankSelectedCategory" ng-click="gotoBracket(rankSelectedCategory)">Tabellone</a>
            </div>
            <h3>
                <a ng-if="rankSelectedCategory" ng-click="refresh();"><i class="fa fa-refresh pull-right fa-2x" style="padding-right:25px"></i></a>
            </h3>
        </div>

        <div class="wrapper-md bracketWrapper" ng-if="rankSelectedCategory">
            <div class="row">
                <h2>
                    Categoria:
                    <b>
                        {{rankSelectedCategory.sesso == 1? 'Maschi - ' : 'Femmine - '}} {{rankSelectedCategory.eta}} - {{rankSelectedCategory.peso}} Kg
                    </b>
                </h2>
            </div>
            <div class="row">
                <h2>Tipo Gara: <b>{{rankSelectedCategory.tipoGara == '1' ? 'Girone Italiana' : 'Doppio Turno'}}</b></h2>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div ng-repeat="judoka in judokas | orderBy:'ranking'">
                        <h3>
                            <i ng-if="judoka.ranking == 1" class="fa fa-trophy"></i>
                            <span ng-if="judoka.ranking != 1">{{judoka.ranking}}°</span>
                            &nbsp;&nbsp;<b>{{judoka.cognome}}</b> {{judoka.nome}}
                        </h3>

                    </div>

                </div>
                <div class="col-md-3"></div>


            </div>
        </div>
    </div>