<style>
    hr {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
    }
</style>

<!-- hbox layout -->
<div class="hbox hbox-auto-xs hbox-auto-sm bg-light h-full" ng-controller="TatamiCtrl">
  <div class="wrapper-lg row panel">
    <div class="col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-12">
          <h3><b>Seleziona il tatami</b></h3>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-2 col-xs-2" ng-repeat="tatami in tatamies | orderBy:'numeroTatami' | filter:{group:filter} | filter:query ">
              <h3><a ng-click="selectTatami(tatami);"><i class="icon-layers" style="font-size: 20pt;"></i> {{tatami.numeroTatami || 'N.A.'}}</a></h3>
          </div>
          <div class="text-center pos-abt w-full" style="top:45%;font-size:large" ng-hide="(tatamies | filter:{group:filter} | filter:query).length"><b>Caricamento Tatami..</b></div>
          
      </div> 
    </div>

    <div class="text-center pos-abt w-full" style="top:45%;font-size:large" ng-hide="(selectedTatami | filter:{group:filter} | filter:query).length"><br /><b>SELEZIONA UN TATAMI PER VEDERE LE GARE IN CORSO o SVOLTE</b></div> 
    
    <div class="col-md-12 col-sm-12 bg-light dk wrapper-lg" ng-if="selectedTatami">
      <h2>Categoria in gara sul <b>TATAMI {{selectedTatami.numeroTatami}}</b></h2>
        <div class="row" ng-if="selectedTatami.categoriaInCorso">
            <div class="col-sm-9">
                <h3>
                    {{selectedTatami.categoriaInCorso.sesso == 1? 'Maschi - ' : ''}}
                    {{selectedTatami.categoriaInCorso.sesso == 2? 'Femmine - ' : ''}}
                    {{selectedTatami.categoriaInCorso.eta}} - 
                    {{selectedTatami.categoriaInCorso.peso}} Kg
                </h3>
            </div>
            <div class="col-sm-1" style="padding-bottom:5px">
                <h3><a class="btn btn-info btn-sm" ng-click="gotoBracket(selectedTatami.categoriaInCorso)">Vai al tabellone</a></h3>
            </div>
        </div>
        <div class="row" ng-if="!selectedTatami.categoriaInCorso">
            <div class="col-sm-12">
                <h3>Nessuna gara attualmente in corso</h3>
            </div>
        </div>

        <div class="row" ng-if="selectedTatami.elencoCategorie">
            <div class="col-sm-12">
                <br />
                <br />
                <hr />
                <h3>Altre gare disputate sul tatami:</h3>
            </div>
        </div>
        <div class="row" ng-if="selectedTatami.elencoCategorie">
            <div class="col-sm-12">
                <!--<div class="row" ng-repeat="categoria in selectedTatami.elencoCategorie" ng-if="categoria.codice != selectedTatami.categoriaInCorso.codice">-->
                <div class="row" ng-repeat="categoria in selectedTatami.elencoCategorie">
                    <div class="col-sm-9">
                        <h4>{{categoria.sesso == 1? 'Maschi - ' : 'Femmine - '}} {{categoria.eta}} - {{categoria.peso}} Kg</h4>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-info btn-sm" ng-click="gotoBracket(categoria)">Tabellone</a>
                        <a class="btn btn-info btn-sm" ng-click="gotoRanking(categoria)">Classifica</a>
                    </div>
                </div>
            </div>


        </div>
        </div>
  </div>
</div>
<!-- /hbox layout -->