<div class="bg-light lter b-b wrapper-md">
  <h2 class="m-n font-thin">Le società in gara</h2>
</div>
<div class="wrapper-md" ng-controller="TeamController">
  <div class="row panel" ng-repeat="team in teams">
  	<div class="col-md-3 col-sm-3">
  		<h3><a  ng-click="viewSocietaAtleti(team);">{{team.nome}}</a></h3>
     </div>
  	 <div class="col-md-9 col-sm-9">
  	 	 <div class="row"> 
		    <div class="col-md-3">
		       <h5>Nazione (regione)</h5>
		    </div>
		    <div class="col-md-9">
		    	<h5>{{team.nazione}}</h5>
		    </div>
	     </div>
	     <div class="row">
		    <div class="col-md-3">
		      <h5><b>Numero alteti</b></h5>
		    </div>
		    <div class="col-md-9">
		    	 <h5>{{team.numeroAtleti}}</h5>
		    </div>
	     </div>
	     <div class="row">
		    <div class="col-md-3">
		      <h5><b>Punteggio totale</b></h5>
		    </div>
		    <div class="col-md-9">
		    	 <h5>{{team.punteggioTotale == '0'? '--' : team.punteggioTotale }}</h5>
		    </div>
	     </div>
  	 </div>
  </div>
    <div class="text-center pos-abt w-full" style="top:45%;font-size:large" ng-hide="(teams | filter:{group:filter} | filter:query).length"><br /><b>Caricamento società iscritte..</b></div>
</div>